menu "Drivers"

comment "Common PCI Drivers"

config RTNET_DRV_PCNET32
    bool "AMD PCnet32"
    default n


config RTNET_DRV_TULIP
    bool "DEC Tulip"
    default n


config RTNET_DRV_EEPRO100
    bool "Intel EtherExpress PRO/100"
    default y

config RTNET_DRV_EEPRO100_CMDTIMEOUT
    int "Command Timeout"
    depends RTNET_DRV_EEPRO100
    default 20
    ---help---
    Timeout in microseconds of transmission or configuration commands that
    are issued in real-time contexts.

config RTNET_DRV_EEPRO100_DBG
    bool "Enable debugging and instrumentation"
    depends RTNET_DRV_EEPRO100
    default n
    ---help---
    This option switches on internal debugging code of the EEPRO/100 driver.
    It also enables the collection of worst-case command delays in real-time
    contexts in order to reduce the command timeout (which, effectively, will
    also reduce the worst-case transmission latency).


config RTNET_DRV_NATSEMI
    bool "NatSemi"
    default n


config RTNET_DRV_8139
    bool "Realtek 8139"
    default y


config RTNET_DRV_VIA_RHINE
    bool "VIA Rhine"
    default n


if ARCH = ppc

comment "Embedded MPC Drivers"

config RTNET_DRV_FCC_ENET
    bool "MPC8260 FCC Ethernet"
    default n


config RTNET_DRV_FEC_ENET
    bool "MPC8xx FEC Ethernet"
    default n


config RTNET_DRV_SCC_ENET
    bool "MPC8xx SCC Ethernet"
    default n


config RTNET_DRV_MPC52XX_FEC
    bool "MPC52xx FEC Ethernet"
    default n

endif


comment "Misc Drivers"

config RTNET_DRV_LOOPBACK
    bool "Loopback"
    default y


config RTNET_DRV_SMC91111
    bool "SMSC LAN91C111"
    default n


config RTNET_DRV_ETH1394
    bool "Ethernet over 1394"
    default n


config RTFIREWIRE_DIR
    string "Path of RT-FireWire Source Code"
    depends on RTNET_DRV_ETH1394
    default "/usr/local/rt-firewire"


source "drivers/experimental/Kconfig"

endmenu
