menu "Protocol Stack"

comment "Stack parameters"

config RTNET_RX_FIFO_SIZE
    int "Size of central RX-FIFO"
    default 32
    ---help---
    Size of FIFO between NICs and stack manager task. Must be power
    of two! Effectively, only CONFIG_RTNET_RX_FIFO_SIZE-1 slots will
    be usable.

config RTNET_RTWLAN
    bool "Real-Time WLAN"
    ---help---
    Enables core support for real-time wireless LAN. RT-WLAN is based
    on low-level access to 802.11-compliant adapters and is currently
    in an experimental stage.

comment "Protocols"

source "stack/ipv4/Kconfig"
source "stack/packet/Kconfig"
source "stack/rtmac/Kconfig"
source "stack/rtcfg/Kconfig"

endmenu
